body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    overflow: hidden;
}

h1 {
    opacity: 0;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

.big {
    font-size: 12em;
}

#particles-js {
    width: 120%;
    height: 120%;
    background-color: #000;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.navbar-custom {
    color: white;
    background-color: transparent;
}

.active .navbar-custom,
.nav .navbar-custom:hover,
.nav .navbar-custom:focus {
    color: orange;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

#navbar-logo {
    margin: 10px;
}

.navbar {
    font-family: 'Black Ops One', cursive;
    background-color: transparent;
    border: 0;
}

.navbar-collapse {
    border: 0;
}

.navbar-toggle,
.icon-bar {
    border: 1px solid white;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: black;
}

.top-nav {
    display: none;
    padding: 10px 35px;
    background-color: rgba(0, 0, 0, 0.7);
}

#intro {
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.no-space {
    margin: 0;
    padding: 0;
}

.intro-img-row-1,
.intro-img-row-2 {
    height: 50%;
    width: 100%;
}

.intro-img-col-4 {
    float: left;
    height: 100%;
    width: 33.33333333%;
    overflow: hidden;
}

.intro-img-col-6 {
    float: left;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#intro-logo {
    position: absolute;
    opacity: 0;
    z-index: 4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 150px;
}

.intro-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #ff6700;
    border: 1px solid #ff6700;
}

.intro-scroll-btn {
    position: absolute;
    top: 85%;
    left: 50%;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate(-50%, -50%);
    -webkit-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0% {top: 85%;}
    25% {top: 85%;}
    50% {top: 87%;}
    75% {top: 87%;}
    100% {top: 85%;}
}

@-webkit-keyframes scroll {
    0% {top: 85%;}
    25% {top: 85%;}
    50% {top: 87%;}
    75% {top: 87%;}
    100% {top: 85%;}
}

.fa-angle-double-down {
    font-size: 40px;
    color: white;
}

.fa-angle-double-down:hover {
    color: #ff6700;
}

.intro-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    opacity: 0.4;
}

.intro-img:hover {
    opacity: 1;
    transition: all 0.5s cubic-bezier(.17, .67, .25, 1.02);
}

.about-section {
    height: 100%;
    padding-top: 70px;
}

.padlr {
    padding-left: 10%;
    padding-right: 10%;
}

.padtb {
    padding-top: 7%;
    padding-bottom: 7%;
}

.background-img {
    background-image: url("../img/5-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.services-section {
    height: 100%;
    padding-top: 70px;
}

.contact-section {
    height: 100%;
    padding-top: 70px;
}

@media(min-width:768px) {
    #intro-logo {
        width: 250px;
    }
    .fa-angle-double-down {
        font-size: 60px;
    }
    p {
        font-size: 1.4em;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
}

@media(max-width:767px) {
    .intro-img-row-1 {
        height: 40%;
        width: 100%;
    }
    
    .intro-img-row-2 {
        height: 60%;
        width: 100%;
    }

    .intro-img-col-4 {
        width: 100%;
        height: 33.33333333%;
    }
    
    .intro-img-col-6 {
        width: 100%;
        height: 50%;
    }

    .intro-img {
        width: 100%;
        height: auto;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    display: none;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
}
