body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    overflow: hidden;
    font-family: "Roboto Condensed", sans-serif;
}

footer {
    text-align: center;
    padding-top: 10px;
    background-color: #ff6700;
    margin-top: 10px;
}

h1 {
    opacity: 0;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

h4 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

p {
    font-size: 1.2em;
}

.big {
    font-size: 12em;
}

.footer {
    margin: 0;
    font-size: 1em;
}

#particles-js {
    width: 120%;
    height: 120%;
    background-color: #000;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.navbar-custom {
    font-family: 'Unica One', cursive;
    font-size: 1.5em;
    color: white;
    background-color: transparent;
}

.active .navbar-custom,
.nav .navbar-custom:hover,
.nav .navbar-custom:focus {
    color: #ff6700;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

#navbar-logo {
    margin: 10px;
}

.navbar {
    background-color: transparent;
    border: 0;
}

.navbar-collapse {
    border: 0;
}

.navbar-toggle,
.icon-bar {
    border: 1px solid white;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: black;
}

.top-nav {
    display: none;
    padding: 10px 35px;
    background-color: rgba(0, 0, 0, 0.7);
}

#intro {
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.no-space {
    margin: 0;
    padding: 0;
}

.intro-img-row-1,
.intro-img-row-2 {
    height: 50%;
    width: 100%;
}

.intro-img-col-4 {
    float: left;
    height: 100%;
    width: 33.33333333%;
    overflow: hidden;
}

.intro-img-col-6 {
    float: left;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#intro-logo {
    position: absolute;
    opacity: 0;
    z-index: 4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 150px;
}

.intro-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #ff6700;
    border: 1px solid #ff6700;
}

.intro-scroll-btn {
    position: absolute;
    top: 85%;
    left: 50%;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate(-50%, -50%);
    -webkit-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0% {
        top: 85%;
    }
    25% {
        top: 85%;
    }
    50% {
        top: 86%;
    }
    75% {
        top: 86%;
    }
    100% {
        top: 85%;
    }
}

@-webkit-keyframes scroll {
    0% {
        top: 85%;
    }
    25% {
        top: 85%;
    }
    50% {
        top: 86%;
    }
    75% {
        top: 86%;
    }
    100% {
        top: 85%;
    }
}

.glyphicon-circle-arrow-down {
    font-size: 30px;
    color: white;
}

.glyphicon-circle-arrow-down:hover {
    color: #ff6700;
}

.intro-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    opacity: 0.4;
}

.intro-img:hover {
    opacity: 1;
    transition: all 0.5s cubic-bezier(.17, .67, .25, 1.02);
}

.section {
    text-align: center;
    min-height: 100%;
    padding-top: 70px;
}

#contact {
    min-height: 0;
}

.padlr {
    padding-left: 10%;
    padding-right: 10%;
}

.padtb {
    padding-top: 7%;
    padding-bottom: 7%;
}

.background-img {
    background-image: url("../img/background1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.image-gallery {
    column-count: 4;
    column-gap: 2px;
}

.view-img {
    display: block;
    max-width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0 auto;
}

@media(min-width:768px) {
    #intro-logo {
        width: 250px;
    }
    .glyphicon-circle-arrow-down {
        font-size: 40px;
    }
    p {
        font-size: 1.4em;
    }
    h1 {
        font-size: 3em;
    }
}

@media(max-width:767px) {
    .intro-img-row-1 {
        height: 40%;
        width: 100%;
    }
    .intro-img-row-2 {
        height: 60%;
        width: 100%;
    }
    .intro-img-col-4 {
        width: 100%;
        height: 33.33333333%;
    }
    .intro-img-col-6 {
        width: 100%;
        height: 50%;
    }
    .intro-img {
        width: 100%;
        height: auto;
    }
    .image-gallery {
        column-count: 2;
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    display: none;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
}
