body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
}

#particles-js {
    width: 120%;
    height: 120%;
    background-color: #000;
    background-image: url("");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.navbar-custom {
    color: white;
    background-color: transparent;
}

.active .navbar-custom,
.nav .navbar-custom:hover,
.nav .navbar-custom:focus {
    color: orange;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

#navbar-logo {
    margin: 10px;
}

.navbar {
    font-family: 'Black Ops One', cursive;
    background-color: transparent;
    border: 0;
}

.navbar-collapse {
    border: 0;
}

.navbar-toggle,
.icon-bar {
    border: 1px solid white;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: black;
}

.top-nav {
    display: none;
    padding: 10px 35px;
    background-color: rgba(0, 0, 0, 0.7);
}

.intro-section {
    height: 100%;
    padding-top: 70px;
}

.about-section {
    height: 100%;
    padding-top: 70px;
}

.services-section {
    height: 100%;
    padding-top: 70px;
}

.contact-section {
    height: 100%;
    padding-top: 70px;
}

@media(min-width:768px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
}
